*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  background: rgb(37, 49, 49);
 
  width: 100vw;
  height: 100vh;
}
.container{
  background: rgb(231, 231, 231);
  position: absolute;
}
.center{
  margin-top: 25px;
  margin-bottom: 15px;
  color: rgb(255, 136, 0);

  
  text-align: center;
}
.font{
  font-style: oblique;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul li span{
  font-weight: 700;


}
li{
  list-style: none;
}
.border{
  border: 1px solid black;
  border-radius: 10px;
}

.list {
  text-align: center;
}
div span ul{
  display: inline-block;
  text-align: left;
}
div .span{
  padding: 10px;
  margin: 10px;

  border-radius: 5px;
  display: inline-block;
  background-color: rgb(255, 252, 252);
}
div span{
  font-size: 20px;
}
div div img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 70vh;
}
.b{
  font-size: 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about{
  margin: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.brave-title{
  color:red;
  text-align: center;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.brave{
  color:rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
}